@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}
.background-wrapper{
    background-color:hsl(180, 52%, 96%) ;
    
}
.bg-mobile{
    display: block; 
 }
.bg-desktop{
    display: none;
}

.job-wrapper{

}

@media screen and (min-width:580px;) {
    .bg-mobile{
       display: none; 
    }
    .bg-desktop{
        display: block;
    }
}